{% extends 'Soluplus/MainApp/Utils/shared.html' %}

{% block page %}
  


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">{{ title }}</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="#">Accueil</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>

<div class="row" style="padding: 10px;">
    <div class="col-md-12">
        <div class="panel panel-color panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Permissions </h3> 
            </div>
            <div class="panel-body">
                <div class="row">
                    <a href="{% url 'add_permission' ref %}" class="btn btn-inverse waves-effect waves-light m-b-5" style="margin-left: 7px;"> <i class="fa fa-plus"></i> <span>Ajouter Permissions</span> </a>
                    <a href="{% url 'remove_permission' ref %}" class="btn btn-danger waves-effect waves-light m-b-5" style="margin-left: 7px;"> <i class="fa fa-remove"></i> <span>Enlever Permissions</span> </a>
                </div>

                <br><br>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading"> 
                                <h3 class="panel-title">Permissions accordées</h3> 
                            </div> 
                            <div class="panel-body"> 
                                <div id="test">
                                    <ol class="dd-list">
                                        {% regroup droits by menu as droit_list %}
                                        {% for item in droit_list %}
                                            <li class="dd-item" >
                                                <div class="dd-handle" style="color: red;">{{ item.grouper }}</div>
                                                
                                                <ol class="dd-list">
                                                    {% for item2 in item.list %}
                                                        <li class="dd-item" >
                                                            <div class="dd-handle">{{ item2.droit }}</div>
                                                        </li>
                                                    {% endfor %}
                                                </ol>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Row -->

<script>
    $("#test").attr("disabled", "disabled").off('click');
</script>

{% endblock %}