amqp==2.5.2
app-version==1.0.1
appdirs==1.4.4
argcomplete==1.12.2
asgiref==3.3.1
astroid==2.4.2
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
billiard==3.6.3.0
bitarray==1.2.2
cairocffi==1.2.0
CairoSVG==2.5.1
celery==4.4.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
cryptography==3.4.7
cssselect2==0.4.1
cytoolz==0.11.0
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.13
Django==2.1
django-celery-results==1.2.1
django-digg-paginator==0.2.0
django-elasticsearch-dsl==0.4.4
django-extensions==3.1.1
django-mysql-ssl==0.0.1
django-pyodbc-azure==2.1.0.0
django-pyodbc-azure-2019==2.1.0.0
django-qr-code==1.2.0
django-rest-framework==0.1.0
django-session-timeout==0.1.0
djangorestframework==3.11.0
djangorestframework-datatables==0.5.2
docusign-esign==1.0.3
docutils==0.20.1
docx2txt==0.8
elasticsearch==5.5.3
elasticsearch-dsl==5.4.0
et-xmlfile==1.0.1
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
future==0.18.3
hexbytes==0.2.1
html5lib==1.0.1
idna==2.6
importlib-metadata==1.5.0
ipfshttpclient==0.6.1
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
jdcal==1.4.1
jedi==0.18.0
jsonpointer==1.10
jsonschema==3.2.0
jwcrypto==1.0
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kivymd==1.1.1
kombu==4.6.8
lazy-object-proxy==1.4.3
libusb==1.0.23b7
lru-dict==1.1.7
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
multiaddr==0.0.9
mysqlclient==2.0.3
netaddr==0.8.0
nexmo==2.5.2
notify==0.3.1
numpy==1.19.5
oauthlib==2.0.6
olefile==0.45.1
opencv-python==4.2.0.32
openpyxl==2.5.1
panda==0.3.1
pandas==0.23.4
parameterized==0.8.1
parsimonious==0.8.1
parso==0.8.1
pdf2image==1.13.1
pem==21.2.0
phonenumbers==8.12.50
pickleshare==0.7.5
Pillow==5.1.0
prompt-toolkit==3.0.10
protobuf==3.17.3
psycopg2==2.9.8
py-oauth2==0.0.10
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.2.0
PyJWT==2.1.0
pylint==2.6.0
pyodbc==4.0.25
PyPDF2==1.26.0
Pyphen==0.10.0
pypiwin32==223
PyQRCode==1.2.1
pyrsistent==0.17.3
pyserial==3.5
pytesseract==0.3.4
python-dateutil==2.8.1
python-docx==0.8.10
python-escpos==2.2.0
python-printer-escpos==0.0.3
pytwain==2.0
pytz==2020.5
pyusb==1.1.0
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==3.13
pyzk==0.9
qrcode==6.1
reportlab==3.5.59
requests==2.22.0
rlp==2.0.1
rsa==4.7.2
segno==1.3.1
six==1.15.0
sqlparse==0.4.1
timeago==1.0.15
tinycss2==1.1.0
toml==0.10.2
toolz==0.11.1
traitlets==5.0.5
typed-ast==1.4.2
typing-extensions==3.7.4.3
Unidecode==1.2.0
urllib3==1.24
validate-email==1.3
varint==1.0.2
vine==1.3.0
wcwidth==0.2.5
WeasyPrint==51
web3==5.12.2
webencodings==0.5.1
websockets==8.1
wrapt==1.12.1
xhtml2pdf==0.2.4
xlrd==1.2.0
XlsxWriter==1.2.7
xlwt==1.3.0
zipp==3.4.0
