{% extends 'Soluplus/MainApp/Utils/shared.html' %}
{% load staticfiles %}
{% block page %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">{{ title }}</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="#">Accueil</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>

<!-- Appel de la fonction message -->
{% include 'Soluplus/MainApp/Utils/message.html' with messages=messages only %}    



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form id="form" method="POST" action="{% url 'app_avocat_post_update_client' %}">
                            
                            {% csrf_token %}

                            <input id="submit" type="submit" style="display: none">
                            <input name="ref" type="text" value="{{ model.id}}" style="display: none">
                            
                            
                            <div class="row">
                                <div class="col-md-6 form-group" >
                                    <label for="nom"> Nom </label>
                                    <input type="text" value="{{ model.nom }}" name="nom_complet" class="form-control"  >
                                </div>
                                
                                <div class="col-md-6 form-group">
                                    <label foe="postnom">Postnom</label>
                                    <input type="text" value="{{model.postnom}}" name="postnom" class="form-control"  >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="prenom">Prenom</label>
                                    <input type="text" value="{{ model.prenom }}" name="prenom" class="form-control"  >
                                </div>
                                <div class="col-md-6 form-group ">
                                    <label for="adresse">Adresse</label>
                                    <input type="text" value="{{model.adresse}}" name="adresse" class="form-control" >
                                </div>
                            </div>
                            
                            <div class="row">
                                <div>
                                    <input type="submit" value="Enregistrer" class="btn btn-success" >
                                </div>
                            </div>
                                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


{% endblock %}


        
      