{% extends 'Soluplus/MainApp/Utils/shared_front.html' %}
{% block page %}
  
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">{{ title }}</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="{% url 'front_index' %}">Accueil</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>

<!-- Appel de la fonction message -->
{% include 'Soluplus/MainApp/Utils/message.html' with messages=messages only %}   

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div class=" form">
                    <form class="needs-validation" novalidate method="POST" id="form" action="{% url 'front_post_modifier_password' %}">
                        {% csrf_token %}

                        <br>

                        <!-- Appel de la fonction message -->
                        {% include 'Soluplus/MainApp/Utils/message.html' with messages=messages only %}        

                        <div class="row row_formulaire">
                            <div class="col-md-6">
                                <label for="old_password" class="control-label col-lg-4">Mot de passe</label>
                                <input name="old_password" id="" class="form-control">
                            </div> 
                        </div>
                        <div class="row row_formulaire">
                            <div class="col-md-6">
                                <label for="new_password" class="control-label col-lg-4">Nouveau Mot de passe</label>
                                <input name="new_password" id="" class="form-control">
                            </div> 
                        </div>
                        <div class="row row_formulaire">
                            <div class="col-md-6">
                                <label for="repeat_password" class="control-label col-lg-4">Confirmer nouveau Mot de passe</label>
                                <input name="repeat_password" id="" class="form-control">
                            </div> 
                        </div>

                        <div class="form-group">
                            <br> <br> <br>
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-success waves-effect waves-light" type="submit">Enregistrer</button>
                                <button class="btn btn-default waves-effect" type="button">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- .form -->
            </div> <!-- panel-body -->
        </div> <!-- panel -->
    </div> <!-- col -->


    <div style="display:none;">
        <table id="sample_table">

            <tr id="">

                <td>

                    <select name="colis_id" class="selectpicker2 form-control article" id="" data-container="body" data-live-search="true" title="Choisir un colis" data-hide-disabled="true" required>
                                
                        {% for item in colis %}
                            <option value="{{item.id}}"> {{item.numero}} - {{item.client.nom}}</option>
                        {% endfor %}
                    </select>
                </td>
                
                <td><a class="btn btn-xs delete-record" data-id="0"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            
       </table>
    </div>

    <div style="display:none;">
        <table id="sample_table2">

            <tr id="">

                <td>

                    <select name="groupage_id" class="selectpicker2 form-control article2" id="" data-container="body" data-live-search="true" title="Choisir un groupage" data-hide-disabled="true" required>
                                
                        {% for item in groupage %}
                            <option value="{{item.id}}"> {{item.numero}} </option>
                        {% endfor %}
                    </select>
                </td>
                
                <td><a class="btn btn-xs delete-record2" data-id="0"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            
       </table>
    </div>
</div> <!-- End row -->


<script>
    jQuery(document).delegate('a.add-record', 'click', function(e) {
     e.preventDefault();    
     var content = jQuery('#sample_table tr'),
     size = jQuery('#tbl_posts >tbody >tr').length + 1,
     element = null,    
     element = content.clone();
     element.attr('id', 'rec-'+size);
     element.find('.delete-record').attr('data-id', size);

     element.appendTo('#tbl_posts_body');
     element.find('.sn').html(size);
     
     element.find('.article').attr('id', size);
     
     element.find('.selectpicker2').selectpicker('refresh');
   });


   jQuery(document).delegate('a.delete-record', 'click', function(e) {
     e.preventDefault();
     var didConfirm = confirm("Are you sure You want to delete");
     if (didConfirm == true) {
      var id = jQuery(this).attr('data-id');
      var targetDiv = jQuery(this).attr('targetDiv');
      jQuery('#rec-' + id).remove();
      
    //regnerate index number on table
    $('#tbl_posts_body tr').each(function(index) {
      //alert(index);
      $(this).find('span.sn').html(index+1);
    });
    return true;
  } else {
    return false;
  }
});

</script>

<script>
    jQuery(document).delegate('a.add-record2', 'click', function(e) {
     e.preventDefault();    
     var content = jQuery('#sample_table2 tr'),
     size = jQuery('#tbl_posts >tbody >tr').length + 1,
     element = null,    
     element = content.clone();
     element.attr('id', 'rec2-'+size);
     element.find('.delete-record2').attr('data-id', size);

     element.appendTo('#tbl_posts_body2');
     element.find('.sn').html(size);
     
     element.find('.article2').attr('id', size);
     
     element.find('.selectpicker2').selectpicker('refresh');
   });


   jQuery(document).delegate('a.delete-record2', 'click', function(e) {
     e.preventDefault();
     var didConfirm = confirm("Are you sure You want to delete");
     if (didConfirm == true) {
      var id = jQuery(this).attr('data-id');
      var targetDiv = jQuery(this).attr('targetDiv');
      jQuery('#rec2-' + id).remove();
      
    //regnerate index number on table
    $('#tbl_posts_body2 tr').each(function(index) {
      //alert(index);
      $(this).find('span.sn').html(index+1);
    });
    return true;
  } else {
    return false;
  }
});

</script>

{% endblock %}