{% extends 'Soluplus/MainApp/Utils/shared.html' %}
{% block page %}
  
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">{{ title }}</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="#">Accueil</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>

<!-- Appel de la fonction message -->
{% include 'Soluplus/MainApp/Utils/message.html' with messages=messages only %}   

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div class=" form">
                    <form class="needs-validation" novalidate method="POST" id="form" action="{% url 'app_cargo_post_add_groupage' %}">
                        {% csrf_token %}

                        <br>

                        <!-- Appel de la fonction message -->
                        {% include 'Soluplus/MainApp/Utils/message.html' with messages=messages only %}        

                        <div class="row row_formulaire">
                            <div class="col-md-6">
                                <label for="numero" class="control-label col-lg-4">Numéro</label>
                                <input name="numero" id="" class=" form-control" disabled>
                            </div> 
                        </div>
                        <div class="row row_formulaire">
                            <div class="col-md-6">
                                <table class="table table-striped table-bordered">
                                    <thead class="no-border">
                                        <tr>
                                            
                                            <th width="50%">Colis</th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody id="tbl_posts_body">
                                        <tr id="rec-1">
                                            
                                            <td>
                                                <select name="colis_id" class="selectpicker form-control article" id="1" data-container="body" data-live-search="true" title="Choisir un colis" data-hide-disabled="true" required>
                                                    
                                                    {% for item in colis %}
                                                        <option value="{{item.id}}"> {{item.numero}} - {{item.client.nom}} </option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td><a class="btn btn-xs delete-record" data-id="1"><i class="glyphicon glyphicon-trash"></i></a></td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row row_formulaire">
                            <div class="col-md-6">
                        <a class="btn btn-primary pull-right add-record" data-added="0"><i class="glyphicon glyphicon-plus"></i> Colis</a>
                        </div>
                        <br>
                        <br> <br>


                        <div style="display:none;">
                            <table id="sample_table">
        
                                <tr id="">
        
                                    <td>
        
                                        <select name="colis_id" class="selectpicker2 form-control article" id="" data-container="body" data-live-search="true" title="Choisir un colis" data-hide-disabled="true" required>
                                                    
                                            {% for item in colis %}
                                                <option value="{{item.id}}"> {{item.numero}} - {{item.client.nom}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    
                                    <td><a class="btn btn-xs delete-record" data-id="0"><i class="glyphicon glyphicon-trash"></i></a></td>
                                </tr>
                                
                           </table>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-success waves-effect waves-light" type="submit">Enregistrer</button>
                                <button class="btn btn-default waves-effect" type="button">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- .form -->
            </div> <!-- panel-body -->
        </div> <!-- panel -->
    </div> <!-- col -->

</div> <!-- End row -->

<script>
    jQuery(document).delegate('a.add-record', 'click', function(e) {
     e.preventDefault();    
     var content = jQuery('#sample_table tr'),
     size = jQuery('#tbl_posts >tbody >tr').length + 1,
     element = null,    
     element = content.clone();
     element.attr('id', 'rec-'+size);
     element.find('.delete-record').attr('data-id', size);

     element.appendTo('#tbl_posts_body');
     element.find('.sn').html(size);
     
     element.find('.article').attr('id', size);
     
     element.find('.selectpicker2').selectpicker('refresh');
   });


   jQuery(document).delegate('a.delete-record', 'click', function(e) {
     e.preventDefault();
     var didConfirm = confirm("Are you sure You want to delete");
     if (didConfirm == true) {
      var id = jQuery(this).attr('data-id');
      var targetDiv = jQuery(this).attr('targetDiv');
      jQuery('#rec-' + id).remove();
      
    //regnerate index number on table
    $('#tbl_posts_body tr').each(function(index) {
      //alert(index);
      $(this).find('span.sn').html(index+1);
    });
    return true;
  } else {
    return false;
  }
});

</script>

{% endblock %}