{% extends 'Soluplus/Website/utils.html' %}
{% load  staticfiles %}
{% block page %}
<section id="colors">
	<div class="view">
		<img alt class="bg" src="{% static 'Website/images/bcg1.jpg' %}" /> <img alt class="bg" src="{% static 'Website/images/bcg2.jpg' %}" />
		<div class="content half-size colors-h">
			<h2>À PROPOS DE NOUS</h2>
			<div class="header-details"><span class="highlight">Hodari</span></div>
		</div>
	</div>
</section>

<section id="about">
	<div class="view">
		<div class="content colors-e background-solid">
			<div class="container">
				<p class="lead text-left text-justify">Le cabinet Hodari qui tire son nom du swahili et dont le nom signifie « courage », « bravoure » est l’aboutissement professionnel d’une femme congolaise audacieuse, ambitieuse et déterminée.</p>
				<p class="lead text-left text-justify">
					<span class="highlight">Yvonne CHIKA</span>, la fondatrice et Gérante de Hodari, juriste de formation, titulaire d’un MBA de la Frankfurt School of finance and management et d’autres certifications en gestion des Ressources Humaines et  en leadership and management, est animée d’une volonté d’accompagner, de par  son expertise, les entreprises dans une gestion humaine et réglementaire des Ressources Humaines à travers la société Hodari Manpower and services qui apporte également des facilitations juridiques dans la création et ou l’installation des entreprises, les visas et permis de travail pour expatriés,  et la gouvernance des entreprises. 
				</p>
				<p class="lead text-left text-justify">
					La fondatrice et Gérante de la société Hodari a un passé d’avocat inscrit au barreau de Matadi, avant de travailler en ONG international au Congo et en expatriation et au sein d’une multinationale du secteur pétrolier comme Directeur des Ressources Humaines et du Juridique avant de se lancer comme Cheffe d’entreprise dans ses deux domaines d’expertise en lançant Hodari, une entreprise des services RH et légaux. 
				</p>
			</div>
		</div>
	</div>
</section>

<section id="team">
	<div class="view">
		<div class="content colors-e background-solid">
			<div class="container">
				<h2>Notre équipe</h2>
				<p class="header-details"><span class="highlight">Qui sommes </span>nous?</p>
				
				<div class="row">
					<div class="col-md-4 col-sm-6  col-xs-6">
						<div class="hover-overlay">
							<img alt="Mike Johnson" src="{% static 'Website/images/our-team/chika.jpg' %}" title="Yvonne Chika" class="fluid-width">
							<div class="overlay background-90-b">
								<div>
									
								</div>
							</div>
						</div>
						<div class="caption">
							<p>
								<span class="title">Yvonne CHIKA</span>
								<br/>
								<span class="highlight">Directrice Générale</span>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6  col-xs-6">
						<div class="hover-overlay">
							<img alt="Jessica Specter" src="{% static 'Website/images/our-team/baguma.jpg' %}" title="Danielle Baguma" class="fluid-width">
							<div class="overlay background-90-b">
								<div>
									<p class="text-center text-uppercase heading-b">
										
									</p>
									<div class="separator-small"></div>
									
								</div>
							</div>
						</div>
						<div class="caption">
							<p>
								<span class="title">Daniella BAGUMA</span>
								<br/>
								<span class="highlight">Responsable Administration</span>
							</p>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6  col-xs-6">
						<div class="hover-overlay">
							<img alt="Lynda Smith" src="{% static 'Website/images/our-team/mulumba.jpg' %}" title="Lynda Smith" class="fluid-width">
							<div class="overlay background-90-b">
								<div>
									
								</div>
							</div>
						</div>
						<div class="caption">
							<p>
								<span class="title">MULUMBA KALANGA Marianne</span>
								<br/>
								<span class="highlight">Chargée d’affaires RH</span>
							</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-6  col-xs-6">
						<div class="hover-overlay">
							<img alt="Lynda Smith" src="{% static 'Website/images/our-team/kanto.jpg' %}" title="Lynda Smith" class="fluid-width">
							<div class="overlay background-90-b">
								<div>
									
								</div>
							</div>
						</div>
						<div class="caption">
							<p>
								<span class="title">Kanto Kimfuta Patrick</span>
								<br/>
								<span class="highlight">Comptable fiscaliste</span>
							</p>
						</div>
					</div> 

					<div class="col-md-4 col-sm-6  col-xs-6">
						<div class="hover-overlay">
							<img alt="Lynda Smith" src="{% static 'Website/images/our-team/sam.jpg' %}" title="Lynda Smith" class="fluid-width">
							<div class="overlay background-90-b">
								<div>
									
								</div>
							</div>
						</div>
						<div class="caption">
							<p>
								<span class="title">Sam Kamba</span>
								<br/>
								<span class="highlight">Responsable RH et formations</span>
							</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-6  col-xs-6">
						<div class="hover-overlay">
							<img alt="Lynda Smith" src="{% static 'Website/images/our-team/grace.jpg' %}" title="Lynda Smith" class="fluid-width">
							<div class="overlay background-90-b">
								<div>
									
								</div>
							</div>
						</div>
						<div class="caption">
							<p>
								<span class="title">Grace Mubangi</span>
								<br/>
								<span class="highlight">Assistante de direction</span>
							</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-6  col-xs-6">
						<div class="hover-overlay">
							<img alt="Lynda Smith" src="{% static 'Website/images/our-team/chubaka.jpg' %}" title="Lynda Smith" class="fluid-width">
							<div class="overlay background-90-b">
								<div>
									
								</div>
							</div>
						</div>
						<div class="caption">
							<p>
								<span class="title">Serge Chubaka</span>
								<br/>
								<span class="highlight">Superviseur de terrain </span>
							</p>
						</div>
					</div>

				</div>
				<br> <br>
				<h3><span class="highlight">Nos</span> hommes</h3>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p class="text-left">Nos collaborateurs sont des Hommes et des Femmes chevronnés dans leurs domaines d’expertise. Chacun connait ses missions et les exécute avec rigueur et professionnalisme pour répondre aux attentes des clients. </p>
						<p class="text-left">Nous nous assurons qu’un service à forte valeur ajoutée est apportée à nos clients basé sur le engagement  total dans le respect des délais et commandes des clients.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
{% endblock %}