{% extends 'Soluplus/Website/utils.html' %}
{% load  staticfiles %}
{% block page %}

<section id="colors">
	<div class="view">
		<img alt class="bg" src="{% static 'Website/images/bcg1.jpg' %}" /> <img alt class="bg" src="{% static 'Website/images/bcg2.jpg' %}" />
		<div class="content half-size colors-h">
			<h2>MISSION</h2>
			<div class="header-details"><span class="highlight">Hodari</span></div>
		</div>
	</div>
	
	
</section>

<section id="services">
	<div class="view">
		<div class="content colors-e background-solid">
			<div class="container">
				
				
				<p class="lead text-left">Au sein de Hodari les équipes sont conscientes que l’externalisation de la gestion RH est une décision capitale pour les entreprises. Hodari port les risques légaux et humains associés à la GRH pour permettre à ses clients de se concentrer sur le corps de leurs métiers respectifs.</p>
				
				<br> <br>
				<p class="header-details"><span class="highlight"><u>Nos missions dans le domaine de Ressources Humaines :</u> </span></p>
				<br> <br>
				
				<p class="lead text-left">Les experts accompagnent les entreprises dans la mise en œuvre des projets et politiques RH.
					Chez Hodari, nous offrons des services sur mesure selon les besoins de nos clients et conformes à la règlementation locale :
					</p>

				<div class="row">
					<div class="col-md-3 top-line">
						<h4>Gestion externalisée de la paie</h4>
						<br> 
						<p class="highlight">Gestion externalisée de la paie des salariés mis à notre disposition et le traitement des charges fiscales y afférentes (INPP, IPR, ONEM, CNSS, TVA). </p>
						<br>
						<p class="highlight">Pour un devis et une simulation de facturation, veuillez nous contacter aux coordonnées mentionnées dans cette plaquette.</p>
						
						
					</div>

					<div class="col-md-3 top-line">
						<h4>Gestion administrative des Ressources Humaines</h4> <br>
						<p class="highlight">Hodari adhère et s’aligne aux politiques internes, procédures et exigences du client et s’assure du respect de la réglementation en ce qui concerne la gestion administrative et documentaire des Ressources Humaines et s’assure, par une communication continue que les salariés mis à disposition se soumettent à la discipline, au code éthique, politiques et procédures du client.</p> <br> <br>
					</div>
					<div class="col-md-3 top-line">
						<h4>Recrutements</h4>
						<p class="highlight">Nos experts répondent à la problématique de trouver le candidat adapté au contexte et aux enjeux de l’entreprise. </p>
						<p class="highlight">Hodari Sarl dispose d’une grande base des données des professionnels aux divers profils qu’elle met à la disposition des entreprises qui en font la demande.</p>
						<p class="highlight">Dans son approche de recrutement, Hodari utilise les médias reconnus pour la publication des offre d’emplois et aux outils internet reconnus,  fait du Head Hunting  et recourt à sa  base des données pour satisfaire ses clients. </p>
						<p class="highlight">Merci nous contacter pour les détails liés aux recrutements (facturation, documents exigés des deux parties, délais etc.) </p>
					</div>
					<div class="col-md-3 top-line">
						<h4>Autres accompagnements disponibles sur demande</h4>
						<ul class="simple">
							<li>Refonte des organisations</li>
							<li>Mise en place des organisations</li>
							<li>Départs volontaires</li>
							<li>Enquêtes de satisfaction</li>
							<li>Licenciements massifs</li>
							<li>Coaching RH des personnels RHs en interne </li>
							<li>Formation RH pour managers (non professionnels RH)</li>
							<li>Formations sur demande en leadership, discipline du manager</li>
							<li>Manuels de procédures internes (rédaction, mise à jour …)</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<br> <br> <br>
					<p class="header-details"><span class="highlight"><u>Nos missions dans le domaine du Juridique :</u> </span></p>
					<p class="lead text-left">Dans le cadre du Juridique et de la gouvernance d’entreprises,  Hodari offre les services suivants :</p>
				</div>

				<div class="row">
					<div class="col-md-2 top-line">
						<h4 style="font-size: 15px;">Processus administrative et juridique de création d’entreprise </h4>
					</div>
					<div class="col-md-2 top-line">
						<h4 style="font-size: 15px;">Processus administratives d’installation d’entreprise  </h4>
					</div>
					<div class="col-md-2 top-line">
						<h4 style="font-size: 15px;">Conseil en assurances   </h4>
					</div>
					<div class="col-md-2 top-line">
						<h4 style="font-size: 15px;">Permis de travail</h4>
					</div>
					<div class="col-md-2 top-line">
						<h4 style="font-size: 15px;">Cartes, visa de travail pour expatriés </h4>
					</div>
					<div class="col-md-2 top-line">
						<h4 style="font-size: 15px;">Gouvernance d’entreprise (assistance pour le secrétariat juridique des Conseil d’administration)</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="work">
	<div class="view">
		<div class="content no-bottom-padding colors-e background-solid">
			<div class="container">
				<h2>Notre <span class="highlight">vision</span></h2>
				
			</div>

			<div class="view" id="who-we-are">
				<div class="content pane">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 stretch-height pane">
								<div class="view fluid-height">
									<img alt class="bg" src="{% static 'Website/images/vision.jpg' %}" />
								</div>
							</div>
							<br> 
							<div class="col-md-6  stretch-height pane">
								<div class="view fluid-height">
									<div class="content incut colors-h background-solid">
										<div class="position-middle-center">
											<h3 class="text-left"><span class="highlight"></span>Notre vision consiste à :</h3>
											<p class="subtitle highlight"><strong>Accompagner nos clients dans le respect de la réglementation en rapprochant les humains des organisations pour une réussite optimale.</strong></p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
{% endblock %}