{% extends 'Soluplus/Website/utils.html' %}
{% load  staticfiles %}
{% block page %}

<section id="colors">
	<div class="view">
		<img alt class="bg" src="{% static 'Website/images/bcg1.jpg' %}" /> <img alt class="bg" src="{% static 'Website/images/bcg2.jpg' %}" />
		<div class="content half-size colors-h">
			<h2>NOS VALEURS</h2>
			<div class="header-details"><span class="highlight">Hodari</span></div>
		</div>
	</div>
	
	
</section>

<section id="about">
	
	<div class="view" id="how-we-work">
		<img alt class="bg" src="{% static 'Website/images/bcgd2.jpg' %}" /> <img alt class="bg" src="{% static 'Website/images/bcgd2.jpg' %}" />
		<div class="content colors-h">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p class="text-center">Nous sommes nourris chaque jour par nos 4 valeurs fondamentales qui définissent notre souci d’atteindre l’excellence dans le service :</p>
					</div>
				</div>
				<div class="row icon-set">
					<div class="col-md-3 text-center">
						<p>
							<i class="li_eye circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
						</p>
						<p class="title"><span class="underline-text">Le courage</span></p>
						<p>Chez Hodari nous avons le courage d’entreprendre, de construire, d’aller au-delà des limites et de construire sans subir la pesanteur du quotidien en puisant dans nos ressources les plus profondes et en osant chaque jour innover et nous améliorer.</p>
					</div>
					<div class="col-md-3 text-center">
						<p>
							<i class="li_like circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
						</p>
						<p class="title"><span class="underline-text">La rigueur</span></p>
						<p>Notre forte conscience professionnelle nous pousse à atteindre l’excellence et à nous démarquer dans notre terrain.</p>
					</div>
					<div class="col-md-3 text-center">
						<p>
							<i class="li_paperplane circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
						</p>
						<p class="title"><span class="underline-text">La transparence </span></p>
						<p>La transparence est une valeur clé de notre organisation et nous l’appliquons avec nos différents partenaires quels que soient les projets nous confiés.</p>
					</div>
					<div class="col-md-3 text-center">
						<p>
							<i class="li_lab circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
						</p>
						<p class="title"><span class="underline-text">Le respect</span></p>
						<p>En tant qu’un des piliers de notre organisation, nous nous assurons que le respect des humains, des textes règlementaires, des partenaires, des contrats et autres textes est observé.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p class="text-center">Notre réputation est le socle de notre développement.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}